<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Coca-Cola {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='cocacola logo.png') }}" alt="Coca-Cola Logo">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Quiénes Somos</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/news">Noticias</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>


</body>
</html>